@define-color background-darker rgba(30, 31, 41, 230);
@define-color background #282a36;
@define-color selection #44475a;
@define-color foreground #f8f8f2;
@define-color comment #6272a4;
@define-color purple #bd93f9;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color yellow #f1fa8c;
@define-color orange #ffb86c;
@define-color light_red #ff6767;
@define-color red #ef3535;
@define-color pink #ff79c6;
